@tailwind base;
@tailwind components;
@tailwind utilities;

.quill-content {
  @apply text-sm leading-relaxed;
}

.quill-content * {
  @apply text-sm;
}

.quill-content h1 {
  @apply text-base font-bold mt-3 mb-2;
}

.quill-content h2 {
  @apply text-sm font-bold mt-2 mb-1;
}

.quill-content p {
  @apply my-1;
}

.quill-content ul,
.quill-content ol {
  @apply list-disc pl-5 my-1;
}

.quill-content li {
  @apply my-0.5;
}
